---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { data, id } = Astro.props;
const { title, button, image, content } = data;
---

<section class="section banner relative" id={id}>
  <div class="container px-4 mx-auto">
    <div class="row items-center flex flex-col lg:flex-row">
      <!-- Image Section -->
      <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
        <Image
          class="w-full h-auto object-contain"
          alt={title}
          src={image}
          width={603}
          height={396}
        />
      </div>

      <!-- Text Section -->
      <div class="w-full lg:w-1/2 text-center lg:text-left">
        <h2 class="text-2xl lg:text-4xl font-bold leading-tight" set:html={markdownify(title)}></h2>

        <p class="mt-4 text-base lg:text-lg leading-relaxed" set:html={markdownify(content)}></p>

        {button.enable && (
          <a class="btn btn-white mt-6 inline-block px-6 py-3 rounded-md text-sm lg:text-base font-semibold transition-all duration-300 hover:bg-gray-200" href={button.link}>
            {button.label}
          </a>
        )}
      </div>
    </div>
  </div>
</section>

