---
const { title, image, buttons, content, banner, id } = Astro.props;
import PageHeader from "@/components/PageHeader.astro";
import Image from "astro/components/Image.astro";
import { markdownify } from "@/lib/utils/textConverter";
---

<section class="page-hero pb-14 relative" id={id}>
  <div class="relative">
    <div class="page-hero-content z-0 mx-auto text-center relative">

      <PageHeader page_data={{ title, image, buttons, content }} />
    </div>


    <div
      class="row z-1 -mt-12 bg-white rounded py-4 shadow-lg max-w-screen-lg mx-auto relative"
    >
      {
        banner.map((item: any, i: number) => (
          <div
            class="sm:col-6 md:col-4 md:mb-0 flex items-start gap-2 py-4"
            key={i}
          >
             <div class="flex-shrink-0">
              <Image
                class="w-10 h-10 object-contain"
                alt={item.title}
                src={item.image}
                width={500}
                height={500}
              />
            </div>
            <div>
              <h2 class="h4 text-uhaus">{item.title}</h2>
              <p class="mt-4">{item.subtitle}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
