---
import Base from "@/layouts/Base.astro";
import Blogs from "@/components/Blog.astro";
import We_apply from "@/components/We_apply.astro";
import Choise_us from "@/components/ChoiseSlider.astro";
import About_us from "@/components/About_us.astro";
import Cta from "@/layouts/partials/Cta.astro";
import Types from "@/components/Types.astro";
import Hero from "@/components/Hero.astro";
import Compromiso from "@/components/Compromiso.astro";
import { getEntry } from "astro:content";
import FloatButton from "@/partials/FloatButton.astro";

// Obtener datos de la página
const homepage = await getEntry("homepage", "index");
if (!homepage) {
  throw new Error("No se encontró la entrada de la página de inicio");
}
const {
  hero,
  banner,
  about_us,
  choise_us,
  we_apply,
  benefits,
  graph,
  application_types,
  cta,
  title,
  meta_title,
  description,
} = homepage.data;

const hero_data = {
  title: hero.title,
  image: hero.image,
  buttons: hero.buttons,
  content: hero.content,
  banner: banner,
};

const beneficios_data = benefits.items;
const types_data = application_types.items;
const graph_data = graph.items;
const future_data = graph.futuro;
---

<Base title={title} meta_title={meta_title} description={description}>
  <Hero {...hero_data} id="home" />
  <div class="reveal reveal-up">
    <About_us data={about_us} id="nosotros" />
  </div>
  <div class="reveal reveal-up">
    <Choise_us data={choise_us} />
  </div>
  <div class="reveal reveal-up">
    <We_apply key_features={we_apply} id="beneficios" />
  </div>
  
  <section class="section reveal reveal-up">
    <div class="container">
      <div class="row text-center mb-10">
        <h2 class="h2">{benefits.head}</h2>
      </div>
      <Blogs posts={beneficios_data} />
    </div>
  </section>

  <div class="reveal reveal-up">
    <Compromiso 
      graph={graph} 
      graph_data={graph_data} 
      future_data={future_data} 
      id="compromiso" 
    />
  </div>

  <div class="reveal reveal-up">
    <Types types_data={types_data} application_types={application_types} id="tipos_de_aplicacion" />
  </div>
  
  <div class="reveal reveal-up">
    <Cta cta_data={cta} id="contacto" />
  </div>
  
  <FloatButton />

  <script src="/scripts/animated.js" type="module"></script>
</Base>
