---
import Base from "@/layouts/Base.astro";
import Blogs from "@/components/Blog.astro";
import We_apply from "@/components/We_apply.astro";
import Choise_us from "@/components/ChoiseSlider.astro";
import About_us from "@/components/About_us.astro";
import Cta from "@/layouts/partials/Cta.astro";
import Types from "@/components/Types.astro";
import Hero from "@/components/Hero.astro";
import { getEntryBySlug } from "astro:content";
import {WhatsappLogo} from "@phosphor-icons/react";

// Obtener datos de la página
const homepage = await getEntryBySlug("homepage", "index");
const {
  hero,
  banner,
  about_us,
  choise_us,
  we_apply,
  beneficios,
  graph,
  application_types,
  cta,
} = homepage.data;

const hero_data = {
  title: hero.title,
  image: hero.image,
  buttons: hero.buttons,
  content: hero.content,
  banner: banner, // Pasamos también los datos del banner
};

const beneficios_data = beneficios.items;
const types_data = application_types.items;
const graph_data = graph.items;
const future_data = graph.futuro;
---

<Base>
  <Hero {...hero_data} id="home"/>
  <!-- banner -->
  <About_us data={about_us} id="nosotros" />

  <!-- choise us -->
  <Choise_us data={choise_us} />
  <!-- key features -->
  <We_apply key_features={we_apply} id="beneficios" />

  <section class="section">
    <div class="container">
      <div class="row text-center mb-10 animate__animated animate__fadeInUp">
        <h2 class="h2">{beneficios.head}</h2>
      </div>
      <Blogs posts={beneficios_data} />
    </div>
  </section>

  <section class="section" id="compromiso">
    <div class="container mx-auto px-4">
        <!-- Section title -->
        <div class="text-center mb-10">
            <h2 class="text-2xl font-bold">{graph.head}</h2>
            <p class="text-lg">{graph.description}</p>
        </div>

        <!-- Interactive Circle -->
        <div class="flex flex-wrap justify-center gap-8">
            {graph_data.map((item, index) => (
                <div class="relative p-8 bg-white rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 group w-64">
                    {/* Icon & Title */}
                    <div class="flex flex-col items-center">
                        <i class={`${item.icon} text-4xl mb-4`}></i>
                        <h3 class="font-bold text-xl text-center">{item.title}</h3>
                    </div>
                    {/* Additional Info (Initially Hidden) */}
                    <div class="max-h-0 overflow-hidden transition-all duration-300 group-hover:max-h-48 group-hover:opacity-100 opacity-0">
                        <p class="mt-4 text-gray-700 text-left">{item.content}</p>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>



  
  

  <Types
    types_data={types_data}
    application_types={application_types}
    id="tipos_de_aplicacion"
  />

  <!-- call to action -->
  <Cta cta_data={cta} id="contacto" />

  <!-- WhatsApp Button with text -->
  <div class="fixed bottom-4 right-4 flex items-center group ">
    <a
      href="https://wa.me/1234567890"
      class="flex items-center bg-green-600 drop-shadow-md rounded-full p-4  transition-transform duration-300 ease-in-out transform group-hover:scale-105"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div
        class="flex items-center  rounded-full transition-transform"
      >
        <WhatsappLogo size={24} color="#ffffff" />
      </div>
      <span
        class="text-white text-base rounded-full px-2 transform leading-tight"
      >
        Escríbenos
      </span>
    </a>
  </div>
</Base>
