---
import Base from "@/layouts/Base.astro";
import Blogs from "@/components/Blog.astro";
import We_apply from "@/components/We_apply.astro";
import Choise_us from "@/components/ChoiseSlider.astro";
import About_us from "@/components/About_us.astro";
import Cta from "@/layouts/partials/Cta.astro";
import Types from "@/components/Types.astro";
import Hero from "@/components/Hero.astro";
import { getEntryBySlug } from "astro:content";
import {WhatsappLogo} from "@phosphor-icons/react";

// Obtener datos de la página
const homepage = await getEntryBySlug("homepage", "index");
const {
  hero,
  banner,
  about_us,
  choise_us,
  we_apply,
  beneficios,
  graph,
  application_types,
  cta,
} = homepage.data;

const hero_data = {
  title: hero.title,
  image: hero.image,
  buttons: hero.buttons,
  content: hero.content,
  banner: banner, // Pasamos también los datos del banner
};

const beneficios_data = beneficios.items;
const types_data = application_types.items;
const graph_data = graph.items;
---

<Base>
  <Hero {...hero_data} />
  <!-- banner -->
  <About_us data={about_us} id="nosotros" />

  <!-- choise us -->
  <Choise_us data={choise_us} />
  <!-- key features -->
  <We_apply key_features={we_apply} id="beneficios" />

  <section class="section">
    <div class="container">
      <div class="row text-center mb-10 animate__animated animate__fadeInUp">
        <h2 class="h2">{beneficios.head}</h2>
      </div>
      <Blogs posts={beneficios_data} />
    </div>
  </section>

  <section class="section">
    <div class="container px-4 mx-auto">
      <!-- Section title -->
      <div class="row text-center mb-10 gap-4">
        <h2 class="h2">{graph.head}</h2>
        <p class="text-lg">{graph.description}</p>
      </div>

      <!-- Grid for items -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"></div>
    </div>
  </section>

  <Types
    types_data={types_data}
    application_types={application_types}
    id="tipos_de_aplicacion"
  />

  <!-- call to action -->
  <Cta cta_data={cta} id="contacto" />

  <!-- WhatsApp Button with text -->
  <div class="fixed bottom-4 right-4 flex items-center group ">
    <a
      href="https://wa.me/1234567890"
      class="flex items-center bg-green-600 drop-shadow-md rounded-full p-4  transition-transform duration-300 ease-in-out transform group-hover:scale-105"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div
        class="flex items-center  rounded-full transition-transform"
      >
        <WhatsappLogo size={24} color="#ffffff" />
      </div>
      <span
        class="text-white text-base rounded-full px-2 transform leading-tight"
      >
        Escríbenos
      </span>
    </a>
  </div>
</Base>
